{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Application complete",
        html: "Your reference number<br><strong>HDJ2123F</strong>"
      }) }}

      <p>
        We have sent you a confirmation email to user1@gmail.com.
      </p>

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>
        We will start to process your application immediately. We will contact you if we have any questions.
      <p>
     
        <h2 class="govuk-heading-m">
          Keeping track of your application
        </h2>
  
        <p class="govuk-body">
          You can use your reference number to track the progress of your application at any time by visiting the <a href="#" class="govuk-link">tracking page</a>.
        </p>

        <div class="govuk-inset-text">
          If you have any questions about your application, contact the <a href="x">Department of health and social care advice line</a>.
        </div>

        {{ govukButton({
          text: "Return to GOV.UK"
        }) }}

    </div>
  </div>

{% endblock %}
