{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/path/of/next/page" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "Enter your UK passport number",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          classes: "govuk-input--width-10",
          hint: {
            text: "For example, 4912135326"
          },
          id: "uk-passport-number",
          name: "UKPassportNumber",
          inputmode: "numeric",
          spellcheck: false
        }) }}

        {% from "govuk/components/details/macro.njk" import govukDetails %}

        {{ govukDetails({
          summaryText: "Where is my passport number located?",
          text: "Your passport number is located on the first line of your passport."
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
