{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <p>Get your tobacco and vapping licence. To apply you must:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Be over the age of 18</li>
        <li>Be able to provide valid proof of age to demonstrate that you meet the legal age requirement</li>
        <li>Complete and submit a license application form provided</li>
      </ul>

      <p>Applying takes around 5 minutes.</p>

      {{ govukButton({
        text: "Start now",
        href: "#",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p>
        You’ll need:
      </p>

      <p>
        an <a href="#">identity document </a> such as your passport or driving licence
      </p>

      <p>
        an address where you’ve live for up to three years
      </p>
      <p>
        complete and submit a license application form provided

        <p>
          You might be asked for additional information, such as your National Insurance number if you know it.
  
          <p>
            You’ll get a confirmation email after you’ve applied.

            <p>
              Your licence should arrive within one week if you apply online. It may take longer if we need to make additional checks.
              <p>
                You cannot register for this service if you’re in the UK illegally.
        
                <h2 class="govuk-heading-m">
                  Cost
                </h2>
                <p>
                
                  It’s free to apply to get a tobacco and vaping licence. However, you will need to meet all set our criteria before applying.
                 
                  <p>You cannot register for this service if you’re in the UK illegally.</p>
                  <p>
                    The online service is also available in <a href="#"> Welsh (Cymraeg)
                
                      
    <div class="govuk-grid-column-two-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
         <p>
          
         </p> If you already have a licence
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                renew your licence
              </a>
            </li>
            <li>
              <a href="#">
                replace your licence if it is lost, stolen, damaged or destroyed
              </a>
            </li>
            <li>
              <a href="#">
                change your details such as name, address, and contact details

              <a href="#" class="govuk-!-font-weight-bold">
              
               <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
