{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "signIn",
  fieldset: {
    legend: {
      text: "What identity document do you have?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "You’ll need to select one of the below documents to confirm your identity."
  },
  items: [
    {
      value: "uk-passport",
      text: "UK passport",
      hint: {
      }
    },
    {
      value: "non-uk-passport",
      text: "Non UK passport",
      hint: {
      }
    },
    {
      value: "biometric-residence-card",
      text: "Biometric residence card",
      hint: {
      }
    },
    {
      value: "biometric-residence-permit",
      text: "Biometric residence permit",
      hint: {
      }
    },
    {
      value: "national-identity-card",
      text: "National identity card",
      hint: {
      }
    },
    {
      divider: "or"
    },
    {
      value: "i-do-not-have-any-of-these-identity-documents",
      text: "I do not have any of these identity documents",
      hint: {
      }
    }
  ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}

    </div>
  </div>

{% endblock %}
